.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* font-family: 'Bowlby One SC', cursive; */
  /* font-family: 'Francois One', sans-serif; */
  /* font-family: 'RUsso One', sans-serif; */
  font-family: 'Black Ops One', cursive;
}

.app-content {
  flex: 1 0 auto;
}